@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");

:root {
  --clr: #1af7ff;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Share Tech Mono", monospace;
	cursor: url('./ressources/cursor.png'), auto;
}

body{
	background-color: black;
}

.container {
	width: 100%;
	height: 100%;
	background: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1%;
}

/****************/
/*****NAV BAR****/
/****************/

a, a:visited {
	color: #023e8a;
	text-decoration: none;
}

nav {
	background: #fff;
	border-radius: 30px;
	padding: 30px;
	box-shadow: 0 5px 20px #caf0f8;
}

nav ul li {
	display: inline-block;
	list-style: none;
	font-size: 1.5rem;
	padding: 0 10px;
	margin: 0 20px;
	cursor: pointer;
	position: relative;
}

nav > ul > li:after , nav > ul > li:before{
	content: '';
	width: 0;
	height: 3px;
	background: #00b4d8;
	position: absolute;
	transition: all 0.3s;
}

nav > ul > li:before {
	left: 0px;
	top: -5px;
}

nav > ul > li:after{
	right: 0px;
	bottom: -5px;
}

nav > ul > li:hover:after, nav > ul > li:hover:before {
	width: 100%;
}

/*******************/
/*****BLACK HOLE****/
/*******************/
.body {
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    background-color: black;
}

.outer-circle {
    position: relative;
    height: 200px;
    width: 200px;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    border-radius: 50%;
    animation: rotate 1.5s linear infinite;
}

.outer-circle span {
    position: absolute;
    height: 200px;
    width: 200px;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    border-radius: 50%;
}

.child1 {
    filter: blur(5px);
}

.child2 {
    filter: blur(10px);
}

.child3 {
    filter: blur(25px);
}

.child4 {
    filter: blur(150px);
}

.inner-circle {
    height: 180px;
    width: 180px;
    position: absolute;
    background: black;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    z-index: 9;
}

@keyframes rotate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

/****************/
/***TYPESCRIPT***/
/****************/

.body-typescript {
    margin-bottom: 6%;
    background-color: #000000;
    display: grid;
    place-items: center;
    font-family: var(--font), serif;
}

.typescript {
    position: relative;
    font-size: 4.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 60px;
}

.text {
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);
    margin: 0;
    transition: 0.1s ease;
    transition-delay: 0.35s;
}

.hover-text {
    position: absolute;
    margin: 0;
    inset: 0;
    width: 0%;
    color: var(--clr);
    overflow: hidden;
    border-right: 2px solid var(--clr);
    transition: 0.5s ease-in-out;
}

.typescript:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 25px var(--clr));
}

.typescript:hover .text {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0);
}